@CHARSET "ISO-8859-1";

.main-cinza {
	background: #fff2e6;
	padding: 4em 0;
}

.painel {
	padding: 0 !important;
	border: 0 !important;
	margin: 0 !important;
	background: inherit !important;
}

.btn-invisivel.ui-state-default, .btn-invisivel.ui-widget-content .btn-invisivel.ui-state-default,
	.btn-invisivel.ui-widget-header .btn-invisivel.ui-state-default {
	border: 0px !important;
	color: inherit !important;
	background: none !important;
	top: 3px;
}

.col-valign-middle {
	vertical-align: middle;
}

.linespacing tr:first-child td {
	padding-bottom: 2px !important;
}

.col-50 {
	width: 50%;
}

.col-label-38 {
	width: 38%;
	text-align: right;
	vertical-align: middle !important;
}

.col-label {
	width: 16%;
	text-align: right;
	vertical-align: middle !important;
}

.col-input {
	width: 35%;
	vertical-align: middle !important;
}

.col-input-unico {
	width: 85%;
}

.ui-outputlabel {
	font-weight: bold;
	margin-right: 5px;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 88% !important;
}

.ui-selectonemenu-panel {
	z-index: 99999 !important;
}

/**/ /**/
.popupWindow {
	border: 1px solid #366092;
	background-color: #366092;
}

.popupTable {
	background-color: #366092;
}

.NFFieldCaption, .NFProdCaption, .NFCaption {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #000055;
	width: 100%;
	display: block;
}

.NFCaption {
	background-color: #DBE5F1;
	font-size: 13px;
}

.NFData {
	font-family: Arial;
	font-size: 13px;
}

#NFPreview td {
	/*ertical-align: top;*/
	border: 1px solid #D2DFEE;
	background-color: white;
}

#NFPreview tr {
	border: 1px solid red;
}

.grid {
	color: #333333;
	width: 100%;
	font-family: Arial;
	font-size: 8pt;
}

.grid a {
	color: Black;
}

.gridHeader {
	background-color: #214B8A;
	color: White;
	font-weight: bold;
}

.gridHeader a {
	text-decoration: none;
	color: White;
}

.gridRow {
	background-color: #EFF3FB;
}

.gridAltRow {
	background-color: White;
}

.gridSelRow {
	background-color: #BFD3EB;
}

.pager a {
	color: #0000AA;
}

.pager {
	font-family: Arial;
	font-size: 8pt;
	color: #000000;
	padding-top: 3px;
	padding-bottom: 2px;
	float: left;
}

.pagerInfo {
	font-family: Arial;
	font-size: 8pt;
	padding: 2px;
}

.pagerCurrentPage {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
	/*background-color:#ccccff;*/
	background-color: #9AB5E4;
	padding: 2px;
}

.pagerOtherPage {
	font-family: Arial;
	font-size: 8pt;
	background-color: #FFFFFF;
	padding: 2px;
}

.message {
	font-family: Arial;
	font-size: 8pt;
	float: left;
	color: #000000;
	padding-top: 3px;
	padding-bottom: 2px;
}

.gridContainerScroll {
	display: block;
	overflow: auto;
}

.gridContainer {
	display: inline;
	width: 100%;
}

.gridContainerBorder {
	border: 1px solid #507CD1;
}

.filterTitle {
	background-color: #214B8A;
	color: White;
	text-align: center;
	width: 100%;
	border: 1px solid white;
}

#body {
	/*font-family: Arial;
	font-size: 10pt;*/
	font: 0.688em Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.commandMenu {
	margin-top: 10px;
	text-align: center;
}

.commandMenu a {
	background-color: Red;
	display: block;
	width: 100%;
	height: 100%;
	/* background-color: #376091; */
	background-color: #214B8A;
	color: White;
	font-weight: bold;
	text-decoration: none;
	padding-top: 2px;
	padding-bottom: 2px;
}

.windowBackgroundPanel {
	background-color: Gray;
	filter: alpha(opacity = 70);
	opacity: 0.7;
}

.filterPanel {
	background-color: Gray;
	filter: alpha(opacity = 70);
	opacity: 0.7;
}

b {
	color: #000000;
}

h1, h2, h3, h4 {
	color: #204CA1;
}

span.caption {
	padding-right: 10px;
	padding-left: 4px;
}

#mainTable td, .mainTable td {
	border: 1px solid #BBC5D1;
}

.WaitMessage {
	background-color: #CF4342;
	color: #fff;
	left: 0px;
	float: left;
	padding-left: 5px;
	padding-right: 8px;
}

.titulo_menu, a.titulo_menu:link, a.titulo_menu:visited, a.titulo_menu:active,
	a.titulo_menu:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000000;
	text-decoration: none;
}

a.titulo_menu:hover {
	text-decoration: underline;
}

.tr_border_bottom {
	border-bottom-style: solid;
}

.ui-inventti-icon {
	width: 16px;
	height: 16px;
}

.ui-inventti-icon-48x48 {
	width: 48px;
	height: 48px;
}

.ui-inventti-icon-question {
	background-image: url(../img/questionMark.png);
	background-repeat: no-repeat;
}

.ui-inventti-icon-impressora {
	background-image: url(../img/impressora.png);
	background-repeat: no-repeat;
}

.dialogo-inventti {
	display: none;
}

.grid {
	color: #333333;
	width: 100%;
	font-family: Arial;
	font-size: 8pt;
}

.grid a {
	color: Black;
}

.gridHeader {
	background-color: #214B8A;
	color: White;
	font-weight: bold;
}

.gridHeader a {
	text-decoration: none;
	color: White;
}

.gridRow {
	background-color: #EFF3FB;
}

.gridAltRow {
	background-color: White;
}

.gridSelRow {
	background-color: #BFD3EB;
}

.pager a {
	color: #0000AA;
}

.pager {
	font-family: Arial;
	font-size: 8pt;
	color: #000000;
	padding-top: 3px;
	padding-bottom: 2px;
	float: left;
}

.pagerInfo {
	font-family: Arial;
	font-size: 8pt;
	padding: 2px;
}

.pagerCurrentPage {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
	/*background-color:#ccccff;*/
	background-color: #9AB5E4;
	padding: 2px;
}

.pagerOtherPage {
	font-family: Arial;
	font-size: 8pt;
	background-color: #FFFFFF;
	padding: 2px;
}

.message {
	font-family: Arial;
	font-size: 8pt;
	float: left;
	color: #000000;
	padding-top: 3px;
	padding-bottom: 2px;
}

.gridContainerScroll {
	display: block;
	overflow: auto;
}

.gridContainer {
	display: inline;
	width: 100%;
}

.gridContainerBorder {
	border: 1px solid #507CD1;
}

.filterTitle {
	background-color: #214B8A;
	color: White;
	text-align: center;
	width: 100%;
	border: 1px solid white;
}