@CHARSET "ISO-8859-1";

.main-cinza {
	background: #fff2e6;
	padding: 4em 0;
}

.painel {
	padding: 0 !important;
	border: 0 !important;
	margin: 0 !important;
	background: inherit !important;
}

.btn-invisivel.ui-state-default, .btn-invisivel.ui-widget-content .btn-invisivel.ui-state-default,
	.btn-invisivel.ui-widget-header .btn-invisivel.ui-state-default {
	border: 0px !important;
	color: inherit !important;
	background: none !important;
	top: 3px;
}

.col-valign-middle {
	vertical-align: middle;
}

.linespacing tr:first-child td {
	padding-bottom: 2px !important;
}

.col-50 {
	width: 50%;
}

.col-label-38 {
	width: 38%;
	text-align: right;
	vertical-align: middle !important;
}

.col-label {
	width: 16%;
	text-align: right;
	vertical-align: middle !important;
}

.col-input {
	width: 35%;
	vertical-align: middle !important;
}

.col-input-unico {
	width: 85%;
}

.ui-outputlabel {
	font-weight: bold;
	margin-right: 5px;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 88% !important;
}

.ui-selectonemenu-panel {
	z-index: 99999 !important;
}